@import url(http://awebfont.ir/css?id=1116);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "B Yekan", tahoma, Arial;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 55px;
  flex-wrap: wrap;
}

.header-top {
  display: flex;
  justify-content: space-between;
  background: #ececec;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;
  margin-top: 15px;
}
.header-right {
  display: flex;
}
.menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.menu-item {
  padding: 10px 20px;
  color: #999;
}
.header-left {
  display: flex;
  margin-left: 16px;
}
.header-left p {
  padding: 5px 20px;
  color: #288ed9;
}

.header-left .header-login {
  background-color: #288ed9;
  color: #fff;
  border-radius: 30px;
}
.header-bottom {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.title {
  margin: 50px 0 10px;
  color: #288ed9;
}
.info {
  color: #7e7e7e;
  line-height: 28px;
  text-align: justify;
}
.header-bottom-right {
  width: 40%;
}
.header-bottom-left {
  width: 60%;
  padding-right: 50px;
}

.size-img {
  width: 550px;
  height: 550px;
}
.section-three {
  background: #e8eced;
}
.section-three-title {
  text-align: center;
  padding-top: 20px;
}
.section-three-list {
  display: flex;
  padding: 100px 0;
}
.section-three-item {
  margin: 0 15px;
  padding: 40px 15px 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  text-align: justify;
  color: #5e5e5e;
  position: relative;
}
.section-three-item-title {
  width: 150px;
  position: absolute;
  background-color: #288ed9;
  color: #fff;
  top: -14px;
  padding: 7px;
  text-align: center;
  margin: auto;
  right: 0;
  left: 0;
  border-radius: 25px;
}
@media (max-width: 768px) {
  .header-bottom {
    width: 100%;
  }
}
