@import url(http://awebfont.ir/css?id=1116);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "B Yekan", tahoma, Arial;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 55px;
  flex-wrap: wrap;
}

.header-top {
  display: flex;
  justify-content: space-between;
  background: #ececec;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;
  margin-top: 15px;
}
.header-right {
  display: flex;
}
.menu-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.menu-item {
  padding: 10px 20px;
  color: #999;
}
.header-left {
  display: flex;
  margin-left: 16px;
}
.header-left p {
  padding: 5px 20px;
  color: #288ed9;
}

.header-left .header-login {
  background-color: #288ed9;
  color: #fff;
  border-radius: 30px;
}
.header-bottom {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.title {
  margin: 50px 0 10px;
  color: #288ed9;
}
.info {
  color: #7e7e7e;
  line-height: 28px;
  text-align: justify;
}
.header-bottom-right {
  width: 40%;
}
.header-bottom-left {
  width: 60%;
  padding-right: 50px;
}

.size-img {
  width: 550px;
  height: 550px;
}
.section-three {
  background: #e8eced;
  margin-top: 25px;
}
.section-three-title {
  text-align: center;
  padding-top: 20px;
}
.section-three-list {
  display: flex;
  padding: 100px 0;
}
.section-three-item {
  margin: 0 15px;
  padding: 40px 15px 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  text-align: justify;
  color: #5e5e5e;
  position: relative;
}
.section-three-item-title {
  width: 150px;
  position: absolute;
  background-color: #288ed9;
  color: #fff;
  top: -14px;
  padding: 7px;
  text-align: center;
  margin: auto;
  right: 0;
  left: 0;
  border-radius: 25px;
}
.container-four {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
  margin-top: 25px;

  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.section-four {
  background: #fff;
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
}
.title-four {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.title-four ::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 9px;
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-right: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box .details {
  display: block;
  font-weight: 15px;
  margin-bottom: 5px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #9b59b6;
}
form .button {
  height: 45px;
  margin: 45px 0;
  width: 100%;
}
form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;

  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
@media (max-width: 584px) {
  .section-four {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
}

@media (max-width: 768px) {
  .header-bottom {
    width: 100%;
  }
}
